<div class="inside">	
  <%= form_tag(search_path, :method => :get) do %>
  <ul class="clear">
      <li>
        <label for="location">
          Location					
        </label>
        <select name="location">
          <option value="" selected="selected">
            Select						
          </option>
          <option value="canada">Canada</option><option value="florida">Florida</option>						
        </select>									
      </li>
      <li>
        <label>
          Status					
        </label>
        <select name="status">
          <option value="" selected="selected">
            Select						
          </option>
          <option value="for-rent">For Rent</option><option value="for-sale">For Sale</option>						
        </select>
      </li>
      <li class="last">
        <label>
          Property Type					
        </label>
        <select name="type">
          <option value="" selected="selected">
            Select						
          </option>
          <option value="commercial-property">Commercial</option><option value="residential-property">Residential</option>					
        </select>
      </li>
      <li>
        <label>
          Beds					
        </label>
        <select name="bed" class="small">
          <option value="" selected="selected">
            Select						
          </option>
          <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>						
        </select>
      </li>
      <li>
        <label>
          Baths					
        </label>
        <select name="bath" class="small">
          <option value="" selected="selected">
            Select						
          </option>
          <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>		
        </select>
      </li>
      <li>
        <label>
          Minimum Price					
        </label>
        <select name="min-price" class="small">
          <option value="" selected="selected">
            Select						
          </option>			
          <option value="5000">$5,000</option><option value="10000">$10,000</option><option value="50000">$50,000</option><option value="100000">$100,000</option><option value="200000">$200,000</option><option value="300000">$300,000</option><option value="400000">$400,000</option><option value="500000">$500,000</option><option value="600000">$600,000</option><option value="700000">$700,000</option><option value="800000">$800,000</option><option value="900000">$900,000</option><option value="1000000">$1,000,000</option><option value="1500000">$1,500,000</option><option value="2000000">$2,000,000</option><option value="2500000">$2,500,000</option><option value="5000000">$5,000,000</option>					
        </select>
      </li>
      <li>
        <label>
          Maximum Price					
        </label>
        <select name="max-price" class="small">
          <option value="" selected="selected">
            Select						
          </option>
          <option value="10000">$10,000</option><option value="50000">$50,000</option><option value="100000">$100,000</option><option value="200000">$200,000</option><option value="300000">$300,000</option><option value="400000">$400,000</option><option value="500000">$500,000</option><option value="600000">$600,000</option><option value="700000">$700,000</option><option value="800000">$800,000</option><option value="900000">$900,000</option><option value="1000000">$1,000,000</option><option value="1500000">$1,500,000</option><option value="2000000">$2,000,000</option><option value="2500000">$2,500,000</option><option value="5000000">$5,000,000</option><option value="10000000">$10,000,000</option><option value="20000000">$20,000,000</option>	
        </select>
      </li>
      <li class="last">
        <label>&nbsp;</label>
        <input type="submit" value="Search" />								
      </li>
    </ul>
  <% end %>
</div>