<section class="page-title-block header-bg">
  <div class="inside">
    <h2 class="ptitle">About us</h2>				
    <h4 class="subtitle"><label>Lorem ipsum dolor sit amet, consectetur adipisicing elit</label></h4>
  </div>
</section>	
<section class="advance-search-block advance-search-block-page">
  <%= render 'search_form' %>
</section>
<!--AGENT LIST-->
<section class="theme-pages">
  <div class="inside clear">
    <!--LEFT CONTAINER-->			
    <div class="left-container">
      <!--AGENT LIST-->
      <div class="agent-about-list clear">
        <h3>
          Our Team
        </h3>
        <!--AGENT IMAGE and SOCIAL-->
        <div class="agent-image">
          <div class="grid cs-style-3">	
            <figure class="pimage">
              <a href="javascript:void(0);"><img alt='' src='assets/7e50404b3f65a6e2f9ea721174d588d64fc2.jpg' class='avatar avatar-230 photo' height='230' width='230' /></a>
              <figcaption><a href="javascript:void(0)"><i class="fa fa-link fa-lg"></i></a></figcaption>
            </figure>
          </div>
          <div class="agent-social">
            <ul class="clear">
              <li><a href="http://facebook.com/mabuc" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
              <li><a href="http://google.com/" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
              <li><a href="http://twitter.com/mabuc" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li class="last"><a href="mailto:louiejiemahusay@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a></li>
            </ul>
          </div>
          <h4><a href="javascript:void(0);">Louie Jie Mahusay</a></h4>
          <h5>Real Estate Broker</h5>
        </div>
        <!--AGENT IMAGE and SOCIAL-->
        <div class="agent-image">
          <div class="grid cs-style-3">	
            <figure class="pimage">
              <a href="javascript:void(0);"><img alt='' src='assets/315874c5f7a60aa9b79a1f41bf5a959b4fc2.jpg' class='avatar avatar-230 photo' height='230' width='230' /></a>
              <figcaption><a href="javascript:void(0);"><i class="fa fa-link fa-lg"></i></a></figcaption>
            </figure>
          </div>
          <div class="agent-social">
            <ul class="clear">
              <li><a href="http://facebook.com/mabuc" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
              <li><a href="http://google.com/" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
              <li><a href="http://twitter.com/mabuc" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li class="last"><a href="mailto:info@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a></li>
            </ul>
          </div>
          <h4><a href="javascript:void(0);">Marry Grace Belarmino</a></h4>
          <h5>Real Estate Broker</h5>
        </div>
        <!--AGENT IMAGE and SOCIAL-->
        <div class="agent-image">
          <div class="grid cs-style-3">	
            <figure class="pimage">
              <a href="javascript:void(0);"><img alt='' src='assets/0e5572992910c626087e5f820d138e474fc2.jpg' class='avatar avatar-230 photo' height='230' width='230' /></a>
              <figcaption><a href="javascript:void(0);"><i class="fa fa-link fa-lg"></i></a></figcaption>
            </figure>
          </div>
          <div class="agent-social">
            <ul class="clear">
              <li><a href="http://facebook.com/mabuc" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
              <li><a href="http://google.com/" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a></li>
              <li><a href="http://linkedin.com/" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
              <li><a href="http://twitter.com/mabuc" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li class="last"><a href="mailto:mabuc2006@yahoo.com.ph" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a></li>
            </ul>
          </div>
          <h4><a href="javascript:void(0);">Mark Abucayon</a></h4>
          <h5>Real Estate Broker</h5>
        </div>
      </div>

      <h3>Company History</h3>
      <p>We are a residential letting and managing agent with a combined experience of over 30 years </p>
      <p>Whether you are a landlord seeking responsible, quality tenants for your property or a tenant 

        searching for a home, we are here to help. Our experienced, professional, and friendly staff, 

        combined with extensive local knowledge ensures that we provide a service which is second to 

        none.</p>
      <p>A forward looking business based on traditional values, we always strive to be at the forefront of 

        the property letting market, and invest much time and effort in ensuring that we are fully up to 

        date with ever changing tenancy law and government legislation. Together with our attention to 

        detail and conscientious attitude we have the experience, resources and skills to deliver the kind of 

        services that landlords and tenants require.</p>
      <p>
        Details of some of the properties we are currently instructed to let can be found on this website, 

        together with essential information for both landlords and tenants, and a description of our 

        services.
      </p>
      <p>
        If you require any further information or advice please do not hesitate to contact us. We look 

        forward to hearing from you.
      </p>

    </div>

    <!--SIDEBAR-->	
    <div class="sidebar">
      <div id="facebooklikebox-2" class="widget homeland_widget-facebook-like">	
        <!--FACEBOOK LIKE BOX-->
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http://www.facebook.com/envato&amp;width=&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=261707003862099" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:290px;" allowTransparency="true"></iframe>
      </div>
      <div id="featuredproperties-2" class="widget homeland_widget-featured-properties">
        <h5>Featured Properties</h5>
        <div class="featured-flexslider grid cs-style-3">
          <ul class="slides">
            <li>
              <figure class="pimage">
                <a href="../property-item/precy-villa-condos/index.html"><img width="230" height="175" src="../wp-content/uploads/2013/12/vacation_house_interior-wallpaper-1920x1200-230x175.jpg" class="attachment-homeland_widget_property wp-post-image" alt="vacation_house_interior-wallpaper-1920x1200" /></a>
                <figcaption><a href="../property-item/precy-villa-condos/index.html"><i class="fa fa-link fa-lg"></i></a></figcaption>
                <div class="property-desc-slide">
                  <h3>Precy Villa Condos</h3>													<span>
                    $300000/year													</span>
                </div>
              </figure>
            </li>
            <li>
              <figure class="pimage">
                <a href="../property-item/villa-precy-subdivision/index.html"><img width="230" height="175" src="../wp-content/uploads/2013/12/beautiful_house-wallpaper-1920x1440-230x175.jpg" class="attachment-homeland_widget_property wp-post-image" alt="beautiful_house-wallpaper-1920x1440" /></a>
                <figcaption><a href="../property-item/villa-precy-subdivision/index.html"><i class="fa fa-link fa-lg"></i></a></figcaption>
                <div class="property-desc-slide">
                  <h3>Villa Precy Subdivision</h3>													<span>
                    $100000													</span>
                </div>
              </figure>
            </li>
            <li>
              <figure class="pimage">
                <a href="../property-item/redgedale-palace/index.html"><img width="230" height="175" src="../wp-content/uploads/2013/12/View-over-the-lake_www.LuxuryWallpapers.net_-230x175.jpg" class="attachment-homeland_widget_property wp-post-image" alt="View-over-the-lake_www.LuxuryWallpapers.net_" /></a>
                <figcaption><a href="../property-item/redgedale-palace/index.html"><i class="fa fa-link fa-lg"></i></a></figcaption>
                <div class="property-desc-slide">
                  <h3>Redgedale Palace</h3>													<span>
                    $300000													</span>
                </div>
              </figure>
            </li>
          </ul>
        </div>
      </div>
      <div id="popular-2" class="widget homeland_widget-popular-posts">
        <h5>Popular Posts</h5>	

        <!--POPULAR POSTS-->
        <ul>
          <li class="clear">
            <div class="pp-image"><a href="javascript:void(0);"><img width="70" height="70" src="assets/uploads/2013/12/beautiful_house-wallpaper-1920x1440-70x70.jpg" class="attachment-homeland_news_thumb wp-post-image" alt="beautiful_house-wallpaper-1920x1440" /></a></div>
            <div class="pp-desc">
              <a href="javascript:void(0);">Great Subdivision amenities and facilities</a>	
              <span>December 5, 2013</span>	
            </div>						</li>	
          <li class="clear">
            <div class="pp-image"><a href="javascript:void(0);"><img width="70" height="70" src="assets/uploads/2013/12/luxury_house_interior-wallpaper-1920x1200-70x70.jpg" class="attachment-homeland_news_thumb wp-post-image" alt="SAMple" /></a></div>
            <div class="pp-desc">
              <a href="javascript:void(0)">New Property post this week</a>	
              <span>December 10, 2013</span>	
            </div>						</li>	
          <li class="clear">
            <div class="pp-image"><a href="javascript:void(0);"><img width="70" height="70" src="assets/uploads/2013/12/house_with_swimming_pool-wallpaper-1920x1200-70x70.jpg" class="attachment-homeland_news_thumb wp-post-image" alt="house_with_swimming_pool-wallpaper-1920x1200" /></a></div>
            <div class="pp-desc">
              <a href="javascript:void(0);">Great deals on our anniversary</a>	
              <span>December 10, 2013</span>	
            </div>						</li>	

        </ul>		
      </div>
      <div id="flickr-2" class="widget homeland_widget-flickr">
        <h5>Flickr</h5>				
        <ul id="fbox" class="clear">
          <li>
            <a href='http://www.flickr.com/photos/we-are-envato/13090561633/' onclick='window.open(this.href);
                return false;' title="Around the Envato Office - Jess &amp; Terry">
              <img src='assets/13090561633_e9c5d3c072_s.jpg' alt='' title='' />
            </a>
          </li>
          <li>
            <a href='http://www.flickr.com/photos/we-are-envato/13090570003/' onclick='window.open(this.href);
                return false;' title="Around the Envato Office - Briany &amp; Carmen in deep conversation">
              <img src='assets/13090570003_021f405fbf_s.jpg' alt='' title='' />
            </a>
          </li>
          <li>
            <a href='http://www.flickr.com/photos/we-are-envato/13090762874/' onclick='window.open(this.href);
                return false;' title="Around the Envato Office - Ben &amp; Jane">
              <img src='assets/13090762874_5f9d99f4e5_s.jpg' alt='' title='' />
            </a>
          </li>
          <li>
            <a href='http://www.flickr.com/photos/we-are-envato/13090422515/' onclick='window.open(this.href);
                return false;' title="Around the Envato Office - Becca">
              <img src='assets/13090422515_cabc9c447c_s.jpg' alt='' title='' />
            </a>
          </li>
          <li>
            <a href='http://www.flickr.com/photos/we-are-envato/13090456565/' onclick='window.open(this.href);
                return false;' title="Around the Envato Office - Selina">
              <img src='assets/13090456565_df81e68627_s.jpg' alt='' title='' />
            </a>
          </li>
          <li>
            <a href='http://www.flickr.com/photos/we-are-envato/13090549273/' onclick='window.open(this.href);
                return false;' title="Around the Envato Office - Highfive!">
              <img src='assets/13090549273_ee5c732ce1_s.jpg' alt='' title='' />
            </a>
          </li>
          <li>
            <a href='http://www.flickr.com/photos/we-are-envato/13090409365/' onclick='window.open(this.href);
                return false;' title="Around the Envato Office - Amber in a HR Meeting">
              <img src='assets/13090409365_5d3172a7dc_s.jpg' alt='' title='' />
            </a>
          </li>
          <li>
            <a href='http://www.flickr.com/photos/we-are-envato/12333892565/' onclick='window.open(this.href);
                return false;' title="Melbourne Meetup">
              <img src='assets/12333892565_fa980bc87f_s.jpg' alt='' title='' />
            </a>
          </li>	
        </ul>					
      </div>
    </div>
  </div>
</section>